body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#material-cost-result,
#labor-cost-result,
#indirect-cost-result {
    margin-top: 10px;
}

.slider-container, .video-container {

    width: 65%;
    height: 490px;
    margin: 20px auto;
    color: #ccc;
    background-color: #3f60f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    width: 48%; /* Ajusta el ancho de cada video según tus necesidades */
    margin-bottom: 20px; /* Espacio entre videos */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
}

nav a:hover {
    color: #2980b9;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}